# Compiled
*.elc

# Packaging
.cask
.last-package-update-day

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Ignore the elpa package directory
elpa/

# Ignore some emacs created files and folders
abbrev_defs
projectile-bookmarks.eld
savehist
recentf
transient/
auto-save-list/
.cache/
projectile.cache
